Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/
/ios/.symlinks/
/ios/Flutter/App.framework
/ios/Flutter/Flutter.framework
/ios/Flutter/Generated.framework
/ios/Pods/
/ios/Runner.xcworkspace/
/ios/Flutter/ephemeral/

IntelliJ
.idea/
*.iml
*.ipr

Visual Studio Code
.vscode/